@page "/"
@inject Microsoft.Extensions.Localization.IStringLocalizer<Index> Loc

<h1>@Loc["Hello, world!"]</h1>

<div class="card-deck">
    <AgentCard @bind-health="Agent1"/>
    <button class="btn btn-primary" @onclick="ChangeTheYear">
        Change Year to 1986
    </button>
</div>

@code{
    [Parameter]
    public int Agent1 { get; set; } = 10;

    static Random Random = new Random();

    private void ChangeTheYear()
    {
        Agent1 = Random.Next(0, 20);
        Console.WriteLine(Agent1);
    }
}