@page "/"
@using Bost.WebControl.Data
@inject HubConnector connector;
@inject Microsoft.Extensions.Localization.IStringLocalizer<Index> Loc
@*<h1>@Loc["Hello, world!"]</h1>*@

<div class="card-deck">
    @*<AgentCard @bind-health="Agent1" />
        <button class="btn btn-primary" @onclick="ChangeTheYear">
            @Loc["Hit!"]
        </button>*@

    <Inventory></Inventory>
</div>

@code{
    [Parameter]
    public int Agent1 { get; set; } = 20;

    protected override async Task OnInitializedAsync()
    {
        await connector.EnsureConnected("localhost:5000/chathub");
    }

    private void ChangeTheYear()
    {
        Agent1 = Agent1 > 0 ? Agent1 - 1 : 20;
    }
}