<link rel="stylesheet" type="text/css" href="css/inventory.css">
<div style="width: 352px;background-image: url('img/inventory.png');height: 332px;">
    <div style="margin: 14px 0px 0px 15px; display: flex">

        <div style="width: 33px;height: 144px;">
            <div class="slot" style="padding: 1px;">
                <div style="background: black;width: 32px;height: 33px;"></div>
            </div>
            <div class="slot" style="padding: 1px;">
                <div style="background: black;width: 32px;height: 33px;"></div>
            </div>
            <div class="slot" style="padding: 1px;">
                <div style="background: black;width: 32px;height: 33px;"></div>
            </div>
            <div class="slot" style="padding: 1px;">
                <div style="background: black;width: 32px;height: 33px;"></div>
            </div>
        </div>

        <div style="position: relative;width: 33px;height: 144px;margin-left: 105px;">
            <div class="slot" style="padding: 1px;position: absolute;bottom: 0;">
                <div style="background: black;width: 32px;height: 33px;/* position: absolute; *//* bottom: 0; */"></div>
            </div>
        </div>

        <div style="width: 70px;height: 71px;margin-left: 9px;margin-top: 20px;display: grid;grid-template-columns: 36px 32px;grid-template-rows: 36px 32px;">
            <div class="slot" style="padding: 1px;">
                <div style="background: black;width: 32px;height: 33px;"></div>
            </div>
            <div class="slot" style="padding: 1px;">
                <div style="background: black;width: 32px;height: 33px;"></div>
            </div>
            <div class="slot" style="padding: 1px;">
                <div style="background: black;width: 32px;height: 33px;"></div>
            </div>
            <div class="slot" style="padding: 1px;">
                <div style="background: black;width: 32px;height: 33px;"></div>
            </div>
        </div>
        <div style="width: 40px;height: 40px;margin-left: 41px;margin-top: 41px;/* display: grid; *//* grid-template-columns: 36px 32px; *//* grid-template-rows: 36px 32px; */">
            <div class="slot" style="padding: 1px;">
                <div style="background: black;width: 32px;height: 33px;"></div>
            </div>
        </div>
    </div>
    <div style="margin: 10px 0px 0px 15px;display: flex;">

        <div style="width: 325px;height: 107px;grid-template-columns: repeat(9, 1fr);grid-template-rows: repeat(3, 1fr);display: grid;">
            <div class="slot" style="">
                <div style="background: black;width: 32px;height: 33px;"></div>
            </div>
            <div class="slot" style="">
                <div style="background: black;width: 32px;height: 33px;"></div>
            </div>
            <div class="slot" style="">
                <div style="background: black;width: 32px;height: 33px;"></div>
            </div>
            <div class="slot" style="">
                <div style="background: black;width: 32px;height: 33px;"></div>
            </div>
            <div class="slot" style="">
                <div style="background: black;width: 32px;height: 33px;"></div>
            </div><div class="slot" style="">
                <div style="background: black;width: 32px;height: 33px;"></div>
            </div><div class="slot" style="">
                <div style="background: black;width: 32px;height: 33px;"></div>
            </div><div class="slot" style="">
                <div style="background: black;width: 32px;height: 33px;"></div>
            </div><div class="slot" style="">
                <div style="background: black;width: 32px;height: 33px;"></div>
            </div><div class="slot" style="">
                <div style="background: black;width: 32px;height: 33px;"></div>
            </div><div class="slot" style="">
                <div style="background: black;width: 32px;height: 33px;"></div>
            </div><div class="slot" style="">
                <div style="background: black;width: 32px;height: 33px;"></div>
            </div><div class="slot" style="">
                <div style="background: black;width: 32px;height: 33px;"></div>
            </div><div class="slot" style="">
                <div style="background: black;width: 32px;height: 33px;"></div>
            </div><div class="slot" style="">
                <div style="background: black;width: 32px;height: 33px;"></div>
            </div><div class="slot" style="">
                <div style="background: black;width: 32px;height: 33px;"></div>
            </div><div class="slot" style="">
                <div style="background: black;width: 32px;height: 33px;"></div>
            </div><div class="slot" style="">
                <div style="background: black;width: 32px;height: 33px;"></div>
            </div><div class="slot" style="">
                <div style="background: black;width: 32px;height: 33px;"></div>
            </div><div class="slot" style="">
                <div style="background: black;width: 32px;height: 33px;"></div>
            </div><div class="slot" style="">
                <div style="background: black;width: 32px;height: 33px;"></div>
            </div><div class="slot" style="">
                <div style="background: black;width: 32px;height: 33px;"></div>
            </div><div class="slot" style="">
                <div style="background: black;width: 32px;height: 33px;"></div>
            </div><div class="slot" style="">
                <div style="background: black;width: 32px;height: 33px;"></div>
            </div><div class="slot" style="">
                <div style="background: black;width: 32px;height: 33px;"></div>
            </div><div class="slot" style="">
                <div style="background: black;width: 32px;height: 33px;"></div>
            </div><div class="slot" style="">
                <div style="background: black;width: 32px;height: 33px;"></div>
            </div>
        </div>
    </div>
    <div style="margin: 8px 0px 0px 15px;display: flex;">

        <div style="width: 325px;height: 32px;grid-template-columns: repeat(9, 1fr);grid-template-rows: 1fr;display: grid;">
            <div class="slot" style="">
                <div style="background: black;width: 32px;height: 33px;"></div>
            </div>
            <div class="slot" style="">
                <div style="background: black;width: 32px;height: 33px;"></div>
            </div>
            <div class="slot" style="">
                <div style="background: black;width: 32px;height: 33px;"></div>
            </div>
            <div class="slot" style="">
                <div style="background: black;width: 32px;height: 33px;"></div>
            </div>
            <div class="slot" style="">
                <div style="background: black;width: 32px;height: 33px;"></div>
            </div><div class="slot" style="">
                <div style="background: black;width: 32px;height: 33px;"></div>
            </div><div class="slot" style="">
                <div style="background: black;width: 32px;height: 33px;"></div>
            </div><div class="slot" style="">
                <div style="background: black;width: 32px;height: 33px;"></div>
            </div><div class="slot" style="">
                <div style="background: black;width: 32px;height: 33px;"></div>
            </div>
        </div>
    </div>
</div>
@code {

}
